{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='row'>
	<div class='col-12 col-md-8 col-md-offset-2 mx-auto'>
<h3>About</h3>
<p>Hi! My name is Kaiyue Wei (aka Pagnn elsewhere).</p>
<blockquote class="blockquote">
  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
  <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote>
<p>Love its people, but never trust its government. Believe in evolution rather than revolution.</p>
</div>
	<div class='col-12 col-md-8 col-md-offset-2 mx-auto'>
<h3>Contact</h3>
I am currently living in Koshigaya, Japan

You can reach me by

Twitter
me@lepture.com
</div>
	<div class='col-12 col-md-8 col-md-offset-2 mx-auto'>
<h3>Projects</h3>
All open source can be found on GitHub, and they are all under BSD License, except that I have declared it under another License.
</div>
	<div class='col-12 col-md-8 col-md-offset-2 mx-auto'>
<h3>Photography</h3>
I take photos in daily life. Find them on Instagram or Flickr.
</div>
</div>
</div>
{% endblock content %}